# FaceDNeRF-deid pip dependencies (beyond NGC PyTorch container base)
# Install with: pip install --no-cache-dir -r requirements.txt

kornia==0.6.12
lpips==0.1.4
diffusers==0.14.0
huggingface-hub==0.13.4
transformers==4.27.4
accelerate==0.18.0
mediapipe==0.10.5
opencv-contrib-python==4.7.0.72
ftfy==6.1.1
pyspng==0.1.1
mrcfile==1.4.3
trimesh==4.0.2
click==8.0.4
imageio==2.9.0
imageio-ffmpeg==0.4.3
gdown==4.7.1
scikit-learn==1.2.2
wandb==0.14.2
